/* 📰 Layout ******************************************************************/
body {
  background: var(--bg-color);
}

.mobile {
  padding: 8vw;
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 100px 1fr 160px;
}

.mobile main {
  width: 100%;
}

.mobile .header {
  grid-area: header;
}

.mobile .main {
  grid-area: main;
}

.mobile .footer {
  grid-area: footer;
}

/* Desktop */
.desktop .left-column {
  position: fixed;
  width: var(--desktop-sidebar-width);
  left: 0;
  top: 0;
  height: 100vh;
  padding-right: var(--desktop-gutter);
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "footer";
  grid-template-rows: 100px 1fr calc(170px + var(--trailer));
  /* show column borders */
  /* box-shadow: inset 0 0 0 10px rgba(150, 0, 0, .3); */
}

.desktop .header {
  justify-content: center;
}

.desktop .controls {
  grid-area: controls;
  /* align-items: center; */
}

.desktop .nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--trailer);
}

.desktop .footer {
  grid-area: footer;
}

.desktop .main {
  grid-area: main;
  min-height: 100vh;
  align-items: baseline;
  justify-content: center;

  padding: calc(var(--desktop-header-height) + var(--trailer) + 1.1rem)
    var(--desktop-sidebar-width)
    0;
  /* show column borders */
  /* box-shadow: inset 0 0 0 10px rgba(255, 255, 150, 1); */
}

.desktop .right-column {
  position: fixed;
  width: var(--desktop-sidebar-width);
  right: 0;
  top: 0;
  height: 100vh;
  display: grid;
  /* show column borders */
  /* box-shadow: inset 0 0 0 10px rgba(0, 150, 0, .3); */
}

/* show grid borders */
/* .desktop .header,
.desktop .controls,
.desktop .nav,
.desktop .footer {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .1);
}
 */


